
select{
    cursor: pointer;
}

.font-pretend{
    font-family: 'Pretendard';
}

a{
    cursor:pointer;
}


/*  .filters ul .search-menu_wrap.active:before {
    background:transparent;
}*/

@media all and (max-width: 768px){
  .search-menu_wrap{
    width: 75%;
    display: inline-block;
    height: 35px;
    border-radius: 50px;
    background-color: #ebebeb;
    padding: 5px 10px;
}
.search > .filters {
    display: flex;
    flex-direction: column;
}
.search-menu {
    background-color: transparent;
    width: calc(100% - 50px);
    outline: none;
    padding: 4px;
    margin: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    text-indent: 10px;
    border: 0;
    margin: 0;
    padding: 0px;
    border-bottom-color: gray;
    vertical-align: middle;

}

.search-menu_wrap > button {
    background:  50% 50% no-repeat url('/images/img_search.png');
    width: 30px;
    outline: none;
    height: 29px;
    margin-left: 10px;
    font-size: 0;
    background-size: 22px auto;
    float: right;
    border: none;
    cursor: pointer;
    color: #282828;
    margin: 0 1px;
}



}
@media all and (min-width: 769px)  {
/*추가*/
.search > .filters {
    display: flex;
    justify-content: space-around;

}
.search-menu_wrap{
   width: 141%;
   height: 35px;
   border-radius: 50px;
   background-color: #ebebeb;
   padding: 5px 10px;
   display: inline-block;
}

.search-menu {
    background-color: transparent;
    width: calc(100% - 50px);
    outline: none;
    padding: 4px;
    margin: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    text-indent: 10px;
    border: 0;
    margin: 0;
    padding: -1px;
    border-bottom-color: gray;
}

.search-menu_wrap > button {
    background:  50% 50% no-repeat url('/images/img_search.png');
    width: 30px;
    outline: none;
    height: 29px;
    margin-left: 10px;
    font-size: 0;
    background-size: 22px auto;
    float: right;
    border: none;
    cursor: pointer;
    color: #282828;
    margin: 0 1px;
}
}

.news-box{
    cursor:pointer;
}
.news-content{
    white-space:nomal;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.select option{
    background:#E8E5DE;
}

.contact-wrap{
    font-family: 'Pretendard';
}

/*index*/
.find-store-text-wrap > h2{
    font-family: 'Pretendard';
}

.storeFind-btn > a:active{
    color: #000;
    text-decoration: none;
}
.storeFind-btn > a:hover{
    color: #000;
    text-decoration: none;
}

/*login  start*/

.login-form-wrap{
    font-family: 'Pretendard';
}

.submit-btn{
    width:100%;
}

.login-bottom > p a:last-child:before {
    content: "ㅣ";
    padding-right: 10px;
    padding-left:5px;
}

.login-bottom > p a {
     font-family: 'Pretendard';
     cursor:pointer;
}

.login-find-wrap{
    text-align:right;
}

/*login  end*/

/*join*/

.hidden{
    visibility: hidden;
}


/*mypage*/

. mypage-table thead th {
    padding-bottom: 10px;
}

.mypage-table td, .mypage-table th{
    padding-bottom: 10px;
}

.mypage-border{
    border: 1px solid;
    padding: 32px;
    border-radius: 6px;
}

.fc-day-today {
    background-color:transparent !important;
}
.disable {
    background: green !important;
}


/* date-pick */


.time-box label{
    width: 100%;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    border: 1px solid;
}

.time-box input {
   display: none;
   height: 16px;
}


.time-box input[id*="time"]:checked + label {
    background-color: rgba(188,232,241,.3);
    border: 1px solid ;
   /* color: #FFF;*/
}

.orderTimeBtn{
    width: 40%;
    margin-top: 20px;
}

.fc-day {
    cursor: pointer;
}

.fc-header-toolbar > .fc-toolbar-chunk:nth-child(3)::before {
    font-size: 0.9em;
    font-family: 'Pretendard';
    content: '* 예약은 최소 2일 전 ~ 최대 7일 전에만 가능합니다.';
}



/*
a[id*="fc-dom"]{
color:#c2bebe;
}*/

/*menu*/
.menu-detail-info-top, .menu-detail-info-top  h2{
    font-family: 'Pretendard';
}

.col-lg-font , .col-lg-font h2{
    font-family: 'Pretendard';
}


/*menu-pick-detail*/


.menu-pick-detail-mid-wrap{
    font-family: 'Pretendard';
}

.menu-cnt-btn{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #000;
    border-color: #000;
}

.number-input-wrap > input{
   margin: 0 10px;
   font-size: 16px;
   line-height: 20px;
   width: 30px;
}

.menu-pick-price-wrap > span{
    font-size:22px;
}

.wd-280-btn {
  width:280px;
}

.menu-pick-detail-bottom-container{
    font-family: 'Pretendard';
}

/*cart*/

.cart-table td {
    vertical-align: -webkit-baseline-middle;
    font-size:20px;
}

.cart-table td  img{
    width:50px;
}

.cart-tPrice-wrap{
    text-indent: 20px;
    font-size: 24px;
    align-items: baseline;
    border-top: 2px solid;
}

.cart-tPrice-wrap span:first-child{
    font-size: 18px;
}

.remove-menu-btn{
    cursor:pointer;
}

.cart-bottom-btn-wrap{
    font-family: 'Pretendard';
}

.cart-bottom-btn-wrap button:first-child{
    background: #d7d3ce;
    border-color: #d7d3ce;
    color: #000;
}

.cart-bottom-btn-wrap button:first-child:hover{
    background: #d7d3ce;
    border-color: #d7d3ce;
    color: #000;
}

@media all and (min-width: 769px)  {
    .cart-storeChage-wrap{
       display:flex;
    }
}

@media all and (min-width: 769px)  {
    .cart-storeChage-wrap{
       display:flex;
    }
}

/*order list*/
.orderList-row{
    padding: 28px 42px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #6f6a6a;
    border-radius: 5px;
    margin-bottom: 30px;
    align-items: center;
}

.btn-check{
    display:none;
}

.datepicker{
    background: transparent;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 5px;
}

.csForm__file button ,.csForm__btn--submit {
    display:inline- block;
    border: solid 1px #de8971;
    width: 4.375rem;
    height: 1.775rem;
    font-size: 0.813rem;
    line-height: 1.575rem;
    text-align: center;
    background: #de8971;
    color: #fff;
}

/*contact*/
.file-upload-wrap {
    border: 1px solid;
    padding: 10xp;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.btn-upload{
    font-size: 20px;
    cursor: pointer;
}

.contact-content-wordCnt{
   text-align: right;
}

.contact-content-wordCnt > span {
    color:#000;
}

/*store*/
.storeDetail-row{
     font-family: 'Pretendard';
}

/* owner/reservation-list */
.date_tab input[id*="day"]:checked + label {
    background: #000;
    border: 1px solid #000;
    color: #FFF;
}

.date_tab input[id*="day"]:hover + label {
    background: #000;
    border: 1px solid #000;
    color: #FFF;
}

/*modify*/

@media all and (max-width: 449px)  {
  .news-modify-btn {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 13px;
      padding-right: 13px;
      border-radius: 4px;
      font-size: 12px;
      }
}
